
<div class="container">
  <div class="logo">
    <img src="./assets/img/logo.png">
    <a >
        Motiv.
    </a>
</div>
<div class="menu">
   <div class="btn" >
    <i class="fa fa-border-all"></i>
    <a routerLink="">Dashboard</a>
   </div>  
   <div class="btn">
    <i class="fa fa-dot-circle"></i>
    <a>Assets</a>
   </div>
   <div class="btn">
    <i class="fa fa-car"></i>
    <a routerLink="booking" >Booking</a>
   </div> 
   <div class="btn">
    <i class="fa fa-shopping-bag"></i>
    <a>Sell Cars</a>
   </div> 
   <div class="btn">
    <i class="fa fa-shopping-cart"></i>
    <a>Buy Cars</a>
   </div> 
   <div class="btn">
    <i class="fa fa-wrench"></i>
    <a>Services</a>
   </div> 
   <div class="btn">
    <i class="fa fa-calendar-alt"></i>
    <a>Calendar</a>
   </div> 
   <div class="btn">
    <i class="fa fa-envelope-open-text"></i>
    <a>Messages</a>
   </div> 
</div>

<div class="bottom">
    
    <div class="btn">
        <i class="fa fa-light fa-gear"></i>
        <a>Settings</a>
       </div> 

       <div class="btn" >
        <i class="fa fa-arrow-circle-left"></i>
        
        <a>Log Out</a>
       </div> 
</div>
   
</div>